@{
    ViewData["Title"] = "Home Page";
}

<div class="d-grid gap-2 d-md-block">

    @for(int i =1; i<=3; i++)
    {

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary btn-lg" style="width:150px;height:150px">Large button</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-lg" style="width:150px;height:150px">Large button</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-lg" style="width:150px;height:150px">Large button</button>
            </div>
        </div>
   
    }
</div>
  
   

